body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.itemLi{
  display: flex;
  justify-content: space-between;
}
.todoList{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
ul{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.itemLi{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}